/* Header */

.cabecera__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
}

.cabecera__buscar__item{
    display: none;
}

/* Menu lateral */
.menu__container{
    position: fixed; /* Dejamos el menu fijo */
    bottom: 0; /* Lo posicionamos al final */
    height: 75px; /* Le damos la altura adecuada */
    width: 100%; /* Ocupamos todo el ancho*/
}

.menu__lista{
    display: flex;
    justify-content: space-around;
    height: 100%;
}

.menu__lista li{
     align-self: center; /*Esta propiedad proporpociona alineacion especifica a cada elemento, individual y/o en grupo  */
}

.menu__itens{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.menu__lista:nth-child(2),
.menu__lista:nth-child(3),
.menu__lista:nth-child(4){
    display: none;
}


/* Footer */
.rodapie__container{
    display: flex;
    /* flex-direction: column;
    flex-wrap: wrap; */
    flex-flow: column wrap;
}

/* Seccion superior */
.superior__seccion__container{
    display: flex;
    align-items: center;
     white-space: nowrap; /*Tecnica para alinear, esto no permite que se quiebre el texto */
     overflow: scroll;
     gap: 15px;
}



@media (min-width: 834px) {
    /* Header */
    .cabecera__buscar__item{
        display: block;
    }

    /* Menu lateral */
     .menu__container{
       left: 0;
       height: auto;      
       width: 74px;
       top: 80px;
     }

     .menu__lista{
        flex-direction: column;   
    justify-content: flex-start;
    padding-top: 15px;
    gap: 33px;
     }

     .menu__lista li{
        
     }
    /* Footer */
    .rodapie__container{
        justify-content: space-between;
    }

   


}

